
.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.row {
  display: none;
}


.text {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  padding: 0 20px;
  display: inline-block;
}

.text:nth-child(1) {
  color: #333;
}

.text:nth-child(2) {
  color: #0074d9;
}

.text:nth-child(3) {
  color: #2ecc40;
}

.text:nth-child(4) {
  color: #ff851b;
}

@keyframes rotateText {
  0%, 100% {
      transform: translateX(100%);
  }
  5%, 95% {
      transform: translateX(-100%);
  }
}
